<!DOCTYPE html>
<html lang="en">
<head>
  
           <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
      href="css/style.css">
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        
       
    
    
        .app-container {
          height: 100vh;
          width: 100%;
        }
        .complete {
          text-decoration: line-through;
        }
      </style>
    </head>
    <title>Document</title>
</head>
<body>
  <div
  class="app-container d-flex align-items-center justify-content-center flex-column"
  ng-app="myApp"
  ng-controller="myController"
>
    <center>
     
     
     
    <h1>Create Your VERY OWN Todolist!</h1>
    
    <button
    type="button"
    class="btn btn-primary btn-lg mr-3 btn text-white "
    ng-click="login()"
        >
        <style>
        a {color:white}
        a:hover {color:white}
    </style>
    <a href="/login">Login</a>
    
    <button
          type="button"
          class="btn btn-danger btn-lg btn text-white"
        
        display = "flex"
        
        
         
        >
        <style>
          a {color:white}
          a:hover {color:white}
      </style>
    <a href="/signup">Signup</a>
      </div>
      </div>
    </center>
  
</body>
</html>